.container {
    /* border: 5px solid orange; */
    width: 100rw;
    height: fit-content;
    gap: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.leftdiv {
    /* border-right: 2px solid orange; */
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagediv {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 55%;
    width: 80%;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #e8eced;
}

.image {
    width: 90%;
    height: 90%
}
.profile{
    width: 65%;
    height: 90%
}
.aboutdiv {
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.descdiv {
    padding-top: 20px;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: monospace;
    width: 90%;
}
.skillDiv{

    height: fit-content;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5%;
    padding-bottom: 40px;
    margin: auto;
  
}
.skillName{
    font-weight: bold;
    font-size: 16px;
}
.contentDiv{
   
    height: 50%;
    padding-left: 2%;
    padding-right: 2%;
}
.spinner{
    width: 25%;
}
.spinner>h2{
 
    width: 100%;
}
.spinner>h3{
   
    width: 100%;
    margin-top: -15px;

}
.skillName+p{
    font-family: monospace;
}
.logo{
  
    width: 20%;
    height: 100%;
    margin: auto;
}
.logo1{
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;
    margin: auto;
}
.logo1>img{
    width: 90%;
    /* border: 1px solid black; */
}
.logo>img{
    width: 90%;
    /* border: 1px solid black; */
}
.skillhead{
   text-transform: uppercase;
   font-size: 45px;
   text-align: center;
   letter-spacing: 10px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.inner{
    height: 100%;
    width: 45%;
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.points{
    font-size: 15px;
}
.contact{
    /* border: 1px solid black; */
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


@media screen and (max-width: 450px){

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       height: fit-content;
    }
    .leftdiv{
        border: none;
        width: 45%;
        height: 40%;
    }
    .profile{

        width: 90%;
        height: 70%;
       
    }
    .aboutdiv{
        font-size: 30px;
    }
    .descdiv{
        letter-spacing: 1px;
        font-size: 15px;
    }
    .inner{
        width: 80%;
    }
}

@media screen and (max-width:768px) {
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        height: fit-content;
    }
    .leftdiv{
        border: none;
        width: 45%;
        height: 50%;
    }
    .profile{

        width: 90%;
        height: 70%;
    }
    .aboutdiv{
        font-size: 30px;
    }
    .descdiv{
        letter-spacing: 2px;
        font-size: 15px;
    }
    .inner{
        width: 80%;
    }
    .spinner>h2{
        font-size: 16px;
    }
    .contentDiv{
        width: 50%;
        padding-right: 4%;
        padding-left: 4%;
    }
}

@media screen and (max-width:1450px) {
    
      .inner{
        width: 80%;
      }

}
@media screen  and (max-width:1050px) {
    
    .contact{
        display: flex;
        flex-direction: column;
    }
    .phone{
        margin-top: -7%;
    }
}