.container {
    border: 5px solid white;
    width: 100%;
    height: fit-content;
    /* background-color: lightgray; */
    text-align: center;
}

.contactDiv {
    text-transform: uppercase;
    color: black;
    font-size: 17px;
    word-wrap: break-word;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contentDiv {
    /* border: 1px solid black; */
    text-transform: lowercase;
    width: 40%;
    height:fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    align-items: center;

}

.logo {
    width: 30px;
}

.emailDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0;
  
}
.emailDiv>p{
    word-wrap: break-word;
}

.emailImg{
    width: 30px;
    height: 25px;
}

@media screen and (max-width:550px) {
    .container{
        height: fit-content;
    }
  .contentDiv{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-weight: lighter;
  }  
  .emailDiv{
    gap: 5px;
  }
}

@media screen and (max-width:800px) {
    .container{
        height: fit-content;
    }
}